h1{
    text-align: center;
    font: 200%;
    cursor: pointer;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    border: 0.75cm solid #00eeff ;
    background-color: #00eeff;
    border-block-start-color: #00eeff;
}