<app-header></app-header>

<div class="row">
    <div class="input-field col s12">
        <label class="active" for="email">Email</label>
        <br>
        <input id="usuario" type="text" class="validate">
        
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="input-field col s12">
        <label class="active" for="senha">Senha</label>
        <br>
        <input id="usuario" type="password" class="validate"><button class="btn waves-effect waves-light" type="login" name="action" (click)="loginEfetuado()" pulse >Login
    <i class="material-icons right"></i>
  </button>
    </div>
</div>

<img src="https://w7.pngwing.com/pngs/799/619/png-transparent-lego-villain-lego-building-blocks-cartoon.png"[width]="300" height="600" >

<app-footer></app-footer>
